@font-face { font-family: Whitney Bold; src: url(../fonts/whitneybold.otf); }
  @font-face { font-family: Whitney Medium; src: url(../fonts/whitneymedium.otf); }
@font-face { font-family: Pixel Font; src: url(../fonts/pixel.ttf)}
  body {
    background: #ffffff;
    color: white;
    font-family: Whitney Medium;
  }
  body { background: #35393e; }
  datalist { display: inline-block; }
  option {
    display: inline-block;
    width: auto;
    font-family: Whitney Medium;
  }
  a { text-decoration: none; }
  .nameButton { width: 20%; }
  .siteimage {
    width: 90%;
    height: 72px;
    left: 0%;
    top: 5px;
    position: absolute;
  }
  .button-settings ion-icon {
    width: 28px;
    height: 28px;
    position: absolute;
    transform: translate(-50%, -50%);
    filter: invert(50%);
  }
  
  .nameInput, .profNameInput {
    width: 79.52%;
    padding: 12px 0px;
    font-size: 20px;
  }
  .centeredText { text-align: center; }
  .w3-container { color: black; }
  .L-or-D {
    width: 100%;
    display: inline-block;
  }
  .button-settings {
    width: 28px;
    height: 28px;
    background: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    text-align: center;
    margin-left: 10px;
  }
  .button-settings:hover {
    background: rgba(50, 54, 59, 0.5);
    border-radius: 0.2rem;
  }
  .serverbar {
    background: #202225;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 80px;
  }
  .channellist {
    background: #2f3136;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 20%;
    color: #696a6f;
  }
  .userinfo {
    background: #2a2b2f;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 60px;
    width: 20%;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .memberlist {
    background: #2f3136;
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 200px;
  }
  
  .channels {
    position: absolute;
    left: 15px;
    top: 15px;
    line-height: 1.6;
  }
  .member {
    font-size: 20;
    left: 10px;
    top: 15px;
    line-height: 1.6;
    border-radius: 8px;
    padding-right: 10px;
    position: relative;
  }
  .hashtag { font-size: 22px; }
  .text-box {
    position: fixed;
    padding: 10px;
    font-family: Whitney Medium;
    font-size: 16px;
    border-width: 0px;
    border-color: #000000;
    background: #40444d;
    color: #ffffff;
    border-style: solid;
    left: 20%;
    bottom: 0px;
    height: 5%;
    width: 100%;
  }
  .chat {
    background: #36393F;
    position: fixed;
    left: 20%;
    top: 0px;
    height: auto;
    width: calc(73.85% - 200px);
    overflow: none;
  }
  ::placeholder { color: #000000; }
  .messageholder { 
    position: fixed; 
    left: calc(30px + 19%); 
    bottom: 8%; 
    width: calc(73.8% - 240px); 
    overflow: none; 
  }
  .message {
    bottom: 10px;
    left: 10px;
    width: 100%;
  }
  .username { font-family: Whitney Bold; font-size: 20px;}
  img.emoji { width:1.5em; pointer-events: none; display: inline-block;}
  .message .msg {
  text-indent: 5px;
    font-family: Whitney Medium;
  }
  .msg{
    font-size: 18px;
  }
 .w3-button img { width: 20px; }
.profNameInput::placeholder{ color: grey; }
.profNameInput, .profColorInput{ margin-bottom: 10px; }
.profColorInput { width: 100%; }

.badge{ width: 20px; height: 20px; display: inline-block; }

.pixelated{
  image-rendering: pixelated;
}

.time{
    display: inline;
    color: white;
    font-size: 15px;
    font-family: Whitney Medium;
}

.ownMessage {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: max-content;
    background: #546271;
    border-radius: 10px;
    margin-top: 10px;
}

.otherMessage {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: max-content;
    background: black;
    border-radius: 10px;
    margin-top: 10px;
}

